header{
padding: 1px 0;
font-family: Verdana,sans-serif;
background-color: rgba(0, 0, 0, 0.815);

}
header h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    font-size: 80px;
}

body{
    margin:0;
}

body hr{
    margin: 100px 80px 0px 80px;
}

.wrapper {
    display: flex;
    width: 1250px;
    height: 500px;
    margin: auto;
}
.content {
    margin-right: 100px;
    height: 300px;
}

.generation-panel {
    margin-top: 30px;
    padding-left: 200px;
}

.canvas{
    position: relative;
    outline: 3px dotted rgb(243, 186, 29);
    margin: 30px 0;
}
#history {
    padding-top: 40px;
    padding-left: 80px;
}

#history h2{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 30px;
}

.row{
    padding-left: 270px;

}

.square_btn {
    padding: 0.8em 2em;
    text-decoration: none;
    color: #ff8567;
    border: solid 2px #ff8567;
    background: white;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #ff8567;
    color: white;
}

.info {
    margin-bottom:400px;
}
